# Build results
bin/
obj/

# User-specific files
*.rsuser
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio working files
.vscode/
.vs/
.vscode/settings.json

# Rider files
.idea/

# Logs
*.log

# Other files
*.lock.json